modules = ["nodejs-20", "web", "bash", "nix"]
run = "npm run dev"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "git"
mode = "sequential"
author = 44113524

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"commit\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run dev"]

[nix]
channel = "stable-24_05"
