modules = ["nodejs-20", "web", "nix"]
run = "npm run dev"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 43545023
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Production Build"
author = 44109602
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run dev"]

[nix]
channel = "stable-24_05"
